body {
    background-color: #1C2230;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

#img-navbar {
    display: flex;
    justify-content: left;
    height: 100%;
    width: 100%;
}

#list-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    margin: 0 2rem 0 0;
    color: white;
    font-family: Roboto, "Helvetica Neue";
    font-weight: bold;
}

li {
    margin: 0 2rem 0 0;
}

a{
    text-decoration: none;
    color: white;    
}

a:hover {
    text-decoration: underline;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main h1 {
    font-size: 35px;
    font-family: Roboto, "Helvetica Neue";
    text-align: center;
    color: white;
}

#main p {
    font-size: 1.2rem;
    font-family: Roboto, "Helvetica Neue";
    text-align: center;
    color: white;
}

.text-main {
    margin: 0 0 2rem 0;
}

#start-button {
    margin: 1rem 0 0 0;
    padding: 1rem 5rem 1rem 5rem;

    border: none;
    border-radius: 2rem;

    color: white;
    background-color: cyan;
    font-family: roboto, "Helvetica Neue";
    font-weight: bold;
    font-size: 1rem;
}

#start-button:hover {
    cursor: pointer;
    background-color:rgb(1, 155, 155);
    transition: 0.6s;
}

#main-two {
    color: white;
    font-family: Roboto, "Helvetica Neue";

    display: flex;
    justify-content: space-around;
    text-align: center;

    margin: 10rem 10rem 5rem 10rem;
}

#main-two p {
    font-size: 20px;
}

#main-three {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: Roboto, "Helvetica Neue";
    font-size: 20px;
}

#main-three h2 {
    font-size: 30px;
}

#main-three a{
    color: cyan;
    text-decoration: underline;
}

